.card{
    box-shadow: 0 0 5px  #666666;
    width: 450px;
    height:350px;
    position: relative;
}

.card-header{
    overflow: hidden;
    height: 200px;
}
.card-header-img{
    max-width: 100%;
}

.rss{
    position: relative;
    width:25px;

}

h1{
    color: beige;
}