.contenedor-area{
    margin-top: 20px;
    margin-left: 50px;
    .titulo{
        color: black;
        font-size: 15px;
    }
    .contadores{
        display: flex;
        margin-top: 10px;
    }

    .input-new{
        margin-top: 100px;
        padding-right: 10px;
    }
}

